@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="fs-4 my-3 text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
